body{
    background: linear-gradient(
        135deg,
        #e7982f,
        #fac106
    );
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contenedor{
    width: 700px;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-top: 8px solid #f3bd0e;
}

h1{
    text-align: center;
    font-size: 42px;
    color: #1e293b;
    margin-bottom: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Texto1{
    background-color: #f8fafc;
    border-left: 6px solid #f3bd0e;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 1.7;
    color: #475569;
    min-height: 80px;
    margin-bottom: 30px;
    transition: 0.2s;
}

#Texto1:hover{
    transform: translateY(-2px);
}

input{
    width: 100%;
    padding: 16px;
    font-size: 17px;
    border: 2px solid #cbd5e1;
    border-radius: 14px;
    outline: none;
    transition: 0.2s;
    box-sizing: border-box;
}

input:focus{
    border-color: #f3bd0e;
    box-shadow: 0 0 10px rgba(37,99,235,0.2);
}
